{{define "title"}}Snippet #{{.Snippet.ID}}{{end}} {{define "main"}} {{with
.Snippet}}
<div class="snippet">
  <div class="metadata">
    <strong>{{.Title}}</strong>
    <span>#{{.ID}}</span>
  </div>
  <pre><code>{{.Content}}</code></pre>
  <div class="metadata">
    <time>Created: {{.Created.Weekday}}</time>
    <!--Weekday is a method called of Created
        as it is of type time-->
    <time>Expires: {{.Expires.AddDate 0 6 0}}</time>
    <!--AddDate method called with 6 months 
        added to time with 0 6 0 fomrat-->
  </div>
</div>
{{end}} {{end}}
